<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/game.css">
  </head>
  <body>
    <div class="top-bar">
      <a id="home" href="/home">Home</a> <!--tab 1-->
      <a id="explore" href="/explore">Explore</a><!--tab 2-->
      <a id="about" href='/about'>About</a>
    </div>
    <button type="button" name="button" onclick="randomItemPic()">Start</button>
    <div class="items-bar">
      <div class="item1">
        <img src="../static/images/1.jpg" id="item1">
      </div>
      <div class="itemEmpty" id="emptyItem"></div>
      <div class="item2">
        <img src="../static/images/2.jpg" id="item2">
      </div>
    </div>
    <script src='../static/scripts/game.js'></script>
  </body>
</html>
