<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/game.css">
  </head>
  <body>
    <div class="top-bar">
      <a id="home" href="/home">Home</a> <!--tab 1-->
      <a id="explore" href="/explore">Explore</a><!--tab 2-->
      <a id="about" href='/about'>About</a>
    </div>
    <button type="button" name="button" onclick="randomItemPic()">Start</button>
    <div class="top-half">
      <div class="items-bar">
        <div class="item">
          <img src="../static/images/1.jpg" id="item1">
        </div>
        <div class="item" id="emptyItem"></div>
        <div class="item">
          <img src="../static/images/2.jpg" id="item2">
        </div>
      </div>
    </div>
    <div class="bottom-half">
      <div class="text-box">
        <form action="" method="post">
          <textarea name="" rows="8" cols="80"></textarea>
          <input type="submit" name="" value="Submit" onclick="counting()">
        </form>
      </div>
      <div class="counterClass">
        <h1>Counter:</h1>
        <h1 id="counter"></h1>
      </div>
    </div>
    <script src='../static/scripts/game.js'></script>
  </body>
</html>
